doctype html
html(lang="en")
    head
        link(href='index.css', rel='stylesheet')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        title Timur Kh
        meta(property='og:title' content="Timur Kh")
        meta(property='og:description' content='Mostly, web developer')
        meta(property='og:image' content='https://mithk.ru/timur.png')
        meta(property='og:type' content='profile')
        meta(property='og:url' content='https://mithk.ru/')
    body
        .container
            img.img-container(src="timur.png")
            .header_wrap
                h1.header.flip mithk.ru
                h1.header.flip.flipped-left timur.kh
            .text_container
                span.text#tech
                span#developer
            .contacts
                a(target='_blank' href='https://github.com/Timur00Kh')
                    img.icon(src='/icons/github.svg' alt='github')
                a(target='_blank' href='https://vk.com/timur00kh')
                    img.icon(src='/icons/vk.svg' alt='vk')
                a(target='_blank' href='https://t.me/timur00kh')
                    img.icon.icon-big(src='/icons/tg.svg' alt='telegram')
                a(target='_blank' href='https://instagram.com/timur00kh')
                    img.icon(src='/icons/inst.svg' alt='instagram')
                a(target='_blank' href='https://timurkh.ru')
                    img.icon(src='/icons/globe.svg' alt='my site')
            .nav-link
                a(href='/donate') Поддержка

        script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.12')
        script
            include index.js