@import 'flip';
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    //font-family: 'Ubuntu Mono', monospace;
    font-family: 'Roboto Mono', monospace;
}

html {
    height: 100%;
}

body {
    height: 99%;
    margin: 0;
    background-color: #fafafa;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 5px;
    animation: fade-in 1s ease;
}

/* IMG */
$img-size: calc(40vh - 5vw);
.img-container {
    width: $img-size;
    height: $img-size;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
}

.header_wrap {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;

    .header {
        position: absolute;
        text-align: center;
        margin: calc(5vh - 0.5vw) auto;
        font-size: 40px;
    }
}

.text {
    &_container {
        margin: auto 0;
        text-align: center;
        min-height: 30px;
        font-size: 20px;

        span {
            margin: 0 4px;
        }
    }
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    .icon {
        width: calc(5vh - 0.5vw);
        height: calc(5vh - 0.5vw);
        margin: 0 1rem;
        transform: scale(1);
        transition: transform 0.8s ease;

        &:hover {
            transform: scale(1.2);
        }

        &-big {
            width: calc(9vh - 0.9vw);
            height: calc(9vh - 0.9vw);
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(calc(-50% - 15px));
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}
